header.absolute
{
    width:800px;
    background-color:#191970;
    text-align: center;
    color: white ;
    height: 30px
    }
 nav
 {
     width: 800px;
     background-color:#ADFF2F;
     text-align: center;
     height: 30px;
 }
 
 nav li
{ float:left;
  display: inline;
  margin: 5px;
}

na li a:link
{color: White;}

article
{width: 425px;
    background-color: #FF00FF;
    color: White;
}

article section
{background-color: #CD853F;
 margin: 20px 0px 0px;
 height: 100px;
 color:blue;
}
aside {
    width: 370px;
    height: 250px;
    color: White;
    background-color: #20B2AA;
}
      
      
 footer
 {width: 800px;
  background-color: #ADFF2F;
  height: 30px;
  text-align:center;
  color: white;

 }
