header.absolute
{
    width:800px;
    background-color:#191970;
    text-align: center;
    color: white ;
    height: 30px
    }

/*nav a 
{font-size: 14px;
 text-decoration:underline;
text-align: center;
 width:80px;
 height: 15px;
 color: red;
} */


nav.absolute
 {
     width: 800px;
     background-color:#ADFF2F;
     text-align: center;
     height: 30px;
     padding: 0px 0px;
     
 }
 
 nav.absolute li
{ float:left;
  display: inline;
  margin: 5px;
}

na li a:link
{color: White;}

article.absolute
{width: 400px;
    background-color: #FF00FF;
    color: White;   
    float: left;
}

article section.absolute
{background-color: #CD853F;
 margin: 20px 0px 0px;
 height: 80px;
 color:blue;
}
aside.absolute {
    width: 400px;
    height: 216px;
    color: White;
    background-color: #20B2AA;
    float: right;
}
      
      
 footer.absolute 
 {width: 800px;
  background-color:#ADFF2F;
  height: 30px;
  text-align:center;
  color: white;
  clear:both;
  font-size: medium;
  padding: 0px;

 }




 