header.absolute
{
    width:800px;
    background-color:#191970;
    text-align: center;
    color: white ;
    height: 30px
    }
 nav
 {
     width: 760px;
     background-color:#ADFF2F;
     text-align: center;
     height: 30px;
 }
 
 nav li
{ float:left;
  display: block;
  margin: 5px;
}

na li a:link
{color: White;}

article
{width: 230px;
    background-color: #FF00FF;
    color: White;
}

article section
{background-color: #CD853F;
 margin: 20px 0px 20px;
 height: 100px;
 color:blue;
}
aside{width: 570px;
      height: 257px;
      color:White;
      background-color: #20B2AA;
      position:absolute;
       left: 720px;
       top: 275px;
}
      
      
 footer
 {width: 800px;
  background-color: #ADFF2F;
  height: 5px;
  text-align:center;
  display:block;

  
float: left;
  color: white;

 }

 body footer	{
	border-top-style:double;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	font-size: 15px;
    clear: both;
	}

footer ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
footer li
	{
	float:left;
	display:inline;
	padding:0px 20px;
   height: 38px;
   width: 148px;}

