
header.float
{
    width:800px;
    background-color:#191970;
    text-align: center;
    color: white ;
    height: 30px
    }
 nav
 {
     width: 800px;
     background-color:#ADFF2F;
     text-align: center;
     height: 15px;
     padding: 0px 0px;
 }
 
 nav li
{ display: block;
  margin: 5px;
  float: left;

}

na li a:link
{color: White;}

article
{width: 400px;
    background-color: #FF00FF;
    color: White;
    float: left;
}

article section
{background-color: #CD853F;
 margin: 20px 0px 20px;
 height: 100px;
 color:White;
}
aside{width: 400px;
      height: 275px;
      color:White;
      background-color: #20B2AA;
      float: right;
      
}
      
      
 footer
 {width: 800px;
  background-color: #ADFF2F;
  height: 15px;
  text-align:center;
  color: white; 
  clear:both;
 }


