body 
{      width:1020px;
       margin-left:auto;   
       margin-right:auto;

}

div.body {
    width: 350px;
    float:left;
    background-color:white;
}
div.sidenav {
    width: 200px;
    float:left;
    background-color:white;
}
header p  
{
	font-size: 2em;
	text-align: center;
	}


/*navigation code*/
nav {padding: 20px;
      
               }

nav ul
	{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;}


 
nav li	{
	float:right;
	display:inline;
	padding:0px 20px;
    color: white;
	}

navigation a hover {
    text-decoration: underline;
    color: red;
    text-transform: uppercase;
}
/*this is for navigation on top of the page the turquoise nav*/
div.nav li
{
    padding: 10px 50.5px;
    background-color: #009999;
    color: white;
    font-size: medium;
}

div.nav a:visited
{color: white;}

div.nav a:hover
{background-color:lavender;
    color: black;}

div.nav a:link

{color: white;}


div.sidenav 

{
    width: 200px;
    margin: auto;
    background-color: #66FFFF ;
}


div.mainbody {
    width: 800px;
    background-color: pink;
    float: left;
}

  /*footer code*/
        
  
 body footer	{
	
	margin: 0px;
	padding: 20px 0px 0px 0px;
	font-size: 15px;
    clear: both;
	}

footer ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}

/*
footer li
	{
	float:left;
	display:inline;
	padding:0px 20px;
   height: 10px;
   width: 148px;}
    */



    
   
   
    /*foto*/
   
main img{
	float:Right;
	width:200px;
	height:200px;
}
     
 
 /*hr*/
hr{
	border: 0;
	border-top: 08px solid;
	color:#009999;
	padding: 0;
        }

 h2{ text-align: center;
    color:Blue;
    font-size: 35px;
 }
 
 h4{text-align:center;
       color:Fuchsia;
       font-size: 20px;
 }
img.me {
    width: 200px;
    float: right;

}
#incorrect {color:Red;}
h3 {border-style: solid;
    padding: 12px;
    border-color: Green; }
      
       
